@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@800&family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

:root {
    --main-bg-color: red;
    --font1: 'Baloo Bhaina 2', cursive;
    --font2: 'Roboto', sans-serif;
}

.font1 {
    font-family: var(--font1);
}

.font2 {
    font-family: var(--font2);
}

.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 60vw;
}

.m-auto {
    margin: auto;
}

.btn {
    padding: 3px 20px;
    margin-bottom: 4px;
    padding-top: 3px;
    border: 2px solid black;
    border-radius: 6px;
    font-family: var(--font1);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    color: white;
    background-color: var(--main-bg-color);
}

.form-input {
    padding: 0px 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 13px;
    font-family: var(--font1);
}

.form-input-1 {
    padding: 0px 5px;
    padding-top: 9px;
    padding-bottom: 3px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 27px;
    margin: 0 422px;
    margin-left: 22%;
    margin-bottom: 1%;
    font-family: var(--font1);
}
